@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 6, 6;
    --background-end-rgb: 0, 6, 6;
  }
}

.dark {
  background-color: #1e1e1e;
}

.light {
  background-color: #fff;
}

.opendyslexic {
  font-family: --font-opendyslexic, sans-serif;
}

.arial {
  font-family: Arial, sans-serif;
}